* {
    box-sizing: border-box;
}

/* 판매하기 yellowBox */
.Solidyellow {
    border-color: rgb(245, 126, 0) !important;
}

/* 회원가입 버튼 */
.btnDisabled {
    background-color: rgb(216, 12, 24);
    opacity: 0.3;
    cursor: not-allowed;
}
.btnActive {
    background-color: rgb(216, 12, 24);
 }

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

ol, ul {
    list-style: none;
}

b, strong {
    font-weight: bolder;
}

html {
    text-size-adjust: 100%;
}

html, body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: rgb(33, 33, 33);
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

button, input {
    padding: 0px;
    border: 0px;
    overflow: visible;
}

button, input[type="text"], input[type="tel"], input[type="number"] {
    appearance: none;
}

body, input, textarea, select, button {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    border: 0px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
